<div ng-controller="usersCtrl">
	<div ng-if="usersAndRepos != null">
		<table class="table">
			<tr>
				<th>users</th>
				<th>repos</th>
				<th>stars</th>
			</tr>
			<tr ng-repeat="x in usersAndRepos | orderBy : 'name'">
				<td><strong><a href="https://github.com/{{x.name}}">{{x.name}}</a></strong></td>
				<td><strong>{{x.repos}}</strong></td>
				<td><strong>{{x.stars}}</strong></td>
			</tr>
		</table>

	</div>
</div>