<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Sush.io-Test</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#/">Home</a></li>
      <li><a href="#/users">Users</a></li> 
    </ul>
  </div>
</nav>
