<div ng-controller="homeCtrl">
	<form role="form" ng-submit="GetUserRepos()">
		<div class="form-group">
	    	<label>Nickname :</label>
	    	<input type="text" id="nickname" class="form-control" ng-model="nickname" placeholder="Enter github user's name">
	    </div>
	    <div class="form-group">
        	<button type="submit" class="btn btn-default">Get user repos</button>
        </div>	
	</form><br>
	<div ng-if "error != null">
		<p>{{error}}</p><br>
	</div>
	<div ng-if="msg != null">
		<p>{{msg}}</p><br>
		<p ng-if="repositories == 1">{{repositories}} repository has been saved.</p>
		<p ng-if="repositories > 1">{{repositories}} repositories have been saved.</p>
	</div>
	<div ng-if="repos != null && repos.length != 0">
		<table class="table">
			<tr>
				<th>repos</th>
				<th>created at</th>
				<th>stargazers count</th>
			</tr>
			<tr ng-repeat="x in repos | orderBy: 'create_at'">
				<td><strong><a href="https://github.com/{{x.full_name}}">{{x.name}}</a></strong></td>
				<td><strong>{{x.created_at | date:'MM/dd/yyyy H:m:s'}}</strong></td>
				<td><strong>{{x.stargazers_count}}</strong></td>
			</tr>
		</table>
		<form role="form" ng-submit="Register()">
		    <div class="form-group">
	        	<button type="submit" class="btn btn-default">Register user and repos</button>
	        </div>	
		</form>
	</div>
</div>