<div ng-controller="usersCtrl">
	<div ng-if="usersAndRepos != null && usersAndRepos.length != 0">
		<table class="table">
			<tr>
				<th>users ({{usersAndRepos.length}})</th>
				<th>repos</th>
				<th>stars</th>
			</tr>
			<tr ng-repeat="x in usersAndRepos | orderBy : 'name'">
				<td><strong><a href="https://github.com/{{x.name}}">{{x.name}}</a></strong></td>
				<td><strong>{{x.repos}}</strong></td>
				<td><strong>{{x.stars}}</strong></td>
			</tr>
		</table>
		<form role="form" ng-submit="CleanDB()">
		    <div class="form-group">
	        	<button type="submit" class="btn btn-default">Clean database</button>
	        </div>	
		</form>
	</div>
	<div ng-if="usersAndRepos != null && usersAndRepos.length == 0">
		<p>No user register in database.</p>
	</div>
	<p>helooooooo</p>
</div>