<!DOCTYPE html>
<html>
<head>
	<title>SushIoTest</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>

<body ng-app="sushTest">

	<div class="row">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">Sush.io-Test</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#/">Home</a></li>
					<li><a href="#/users">Users</a></li> 
				</ul>
			</div>
		</nav>
		<div class="col-md-6 col-md-offset-3">
			<ui-view></ui-view>
		</div>
	</div>

</body>
</html>
